h1 {
  font-weight: bold;
}

del {
  background-color: var(--bs-danger-bg-subtle);
  text-decoration-line: none;
}

ins {
  background-color: var(--bs-success-bg-subtle);
  text-decoration-line: none;
}

.bi-small {
  width: 0.875rem;
}

.bi-medium {
  width: 1.125rem;
}

.bi-large {
  width: 2rem;
}
