<div class="card">
  <div class="card-header">
    <strong class="d-block fs-6 fw-bold">Flipper Controls</strong>
    <small class="text-secondary">This is where you can change the state of flags managed by Flipper.</small>
  </div>
  <fieldset class="card-body">
    <legend class="fs-6 fw-bold"><%= title %></legend>
    <%= yield %>
  </fieldset>
</div>
