<div class="d-flex align-items-center align-content-center justify-content-between gap-2 mb-3">
  <div class="me-auto">
    <code class="text-dark fw-bold fs-6">:<%= feature.key %></code>
  </div>

  <% if !feature.conditional? && feature.enabled? %>
    <span class="d-flex px-0 align-items-center align-content-center justify-content-end gap-1 text-success">
      <%= icon 'check-circle-fill', 'bi-small' %>
      <span class="fw-bold">Fully Enabled</span>
    </span>
  <% elsif feature.conditional? %>
    <span class="d-flex px-0 align-items-center align-content-center justify-content-end gap-1 text-secondary">
      <%= icon 'circle-half', 'bi-small' %>
      <span class="fw-bold">Conditionally Enabled</span>
    </span>
  <% elsif !feature.conditional? && feature.enabled? %>
    <span class="d-flex px-0 align-items-center align-content-center justify-content-end gap-1 text-danger">
      <%= icon 'exclamation-triangle-fill', 'bi-small' %>
      <span class="fw-bold">Disabled</span>
    </span>
  <% end %>
</div>