<% if notice || alert -%>
<div class="d-block col-12 m-0 p-0 mt-3" role="alert">
  <% style = notice.present? ? 'success' : 'danger' %>
  <div class="p-2 border border-<%= style %>-subtle bg-<%= style %>-subtle d-block rounded bg-white text-<%= style %>"><%= (notice || alert).html_safe %></div>
</div>
<% end -%>
