<%= link_to target, class: 'btn btn-lg btn-primary w-100 mb-3 d-flex align-items-center align-content-center justify-content-center gap-3 fw-bold rounded rounded-pill' do %>
    <span><%= label %></span>
    <%= icon 'arrow-right-circle-fill', 'bi-large' %>
<% end %>