<li class="list-group-item d-flex align-items-center align-content-center justify-content-between gap-2 px-0 bg-transparent">
  <div class="me-auto">
    <small class="d-block fst-italic text-body-tertiary"><%= label %></small>
    <small><code class="fw-bold text-body-secondary"><%= code %></code></small>
  </div>

  <% if condition %>
    <span class="d-flex px-0 align-items-center align-content-center justify-content-end gap-1 text-success">
      <%= icon 'check-circle-fill', 'bi-small' %>
      <small class="fw-bold">True</small>
    </span>
  <% else %>
    <span class="d-flex px-0 align-items-center align-content-center justify-content-end gap-1 text-danger">
      <%= icon 'exclamation-triangle-fill', 'bi-small' %>
      <small class="fw-bold">False</small>
    </span>
  <% end %>
</li>