<div class="flex flex-col">
  <%= button_to(label, form_target, method: form_method, class: "btn btn-#{style} w-100  rounded rounded-pill") %>
  <div class="d-flex align-items-center align-content-center justify-content-center mt-2">
    <%= icon 'arrow-return-right', 'bi-small me-2 text-secondary' %>
    <small><code class="text-secondary"><%= code %></code></small>
  </div>
</div>
