<!DOCTYPE html>
<html>
  <head>
    <title>Flipper Rails Demo</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
