<!DOCTYPE html>
<html>
  <head>
    <title>Flipper Rails Demo</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <% if Rails.env.production? %>
      <script defer data-domain="demo.flippercloud.io" src="https://plausible.io/js/script.js"></script>
    <% end %>
  </head>
  <body>
    <header>
      <nav>
        <strong><%= link_to "Home", root_path %></strong>
      </nav>
    </header>

    <%= flash %>

    <%= yield %>

  </body>
</html>
